#listedUsers a:hover 
{
text-decoration:none;
background:transparent;
}
#listedUsers #name a:hover 
{
background-color:rgb(0, 105, 0);;
}

#bestUser img, #bestUser2 img
{
border: 1px solid #999999;
padding: 5px;
box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.4);
}
#bestUser
{
background-color: white;
z-index:1;
float:right;
position:relative;
right:30%;
text-align:center;

}
#bestUser img
{

display:block;
margin:auto;
}
#bestUser2
{
background-color: white;
z-index:1;
float:right;
position:relative;
right:35%;
text-align:center;

}
#bestUser2 img
{

display:block;
margin:auto;
}


#mid-content-2
{position:relative;}
#profile
{
margin:20px;
min-width:492px;
overflow:hidden;
}
#mozaicUsers-left
{
float:left;
overflow:hidden;
}
#mozaicUsers-right
{

overflow:hidden;
position:absolute;
bottom:20px;
right:40px;
}
#clearing_div

{
clear:both;
}
#mozaicUsers-left
{
width:100%;

}
#mozaic-Users-left #mozaic_row
{
float:left;
}
#mozaicUsers-right #mozaic_row
{
float:right;
display:block;
}
#searchForm
{
width:90%;
float:right;
margin-right:10px;
}
#searchForm input[type=text]
{
width:100%;
min-width:3em;	
display:block;
margin:0px;
}
#searchForm input[type=submit]
{

float:right;
align:right;
}
#profile a:hover 
{
text-decoration:none;
background:transparent;
}
#header-user
{
	right:70px;
}
#outer-column-container
{
border-right:10px solid transparent;
}
#mozaic
{display:inline;
}
#giveBadge
{
background: url(layrus/8bit/pen_add.png) no-repeat center left;
padding-left:60px;
height:60px;
font-size:1.2em;
vertical-align:center;
float:right;
line-height:60px;
}
#giveBadge a
{
cursor:auto;
}
.sideportlet #errors
{
font-size:1em;
display:block;
color:black;
font-weight:bold;
}
.sideportlet input[type=password]
{
width:90%;
display:block;
}
.sideportlet input[type=submit]
{
margin-top:5px;
}
#clear
{
clear:both;
}
#edit_userprofile
{
text-align:right;
}
#achievementsWrapper h3 , #badgesWrapper h3, #about_long h3, #activitiesWrapper h3, #contact h3, #listedUsers h3
{
background: url("layrus/8bit/separator_long.png") no-repeat scroll center top transparent;
padding: 0.3ex 0.5ex;
font-size: 90%;
margin: 10px 0px 5px;
position: relative;
}
#contact
{
text-align:right;
}
#achievement_outside
{
float:left;
background: url("blank_achievement_green.png") no-repeat;

}

#badge_outside
{
float:left;
background: url("blank_badge_green.png") no-repeat;

}
#footer
{
font-size:0.8em;
}
#occupation img
{
width:30px;
display:inline;
}
#occupation
{
line-height:34px;
cursor:auto;
font-size:1.2em;
}
label
{

vertical-align:middle;
margin-left:20px;

}
#ac_title, #ac_activity
{
display:inline;
font-size:1.45em;
}
#ac_activity
{
display:inline;
}
#activityUpperbar
{
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	border-top: 1px solid rgb(204, 204, 204);
	overflow:hidden;
	font-size:0.8em;
}

#activity_time
{
float:left;
margin-left: 5px;
}
#activity_title, #activity_client_id
{
float:right;
margin-right:5px;
}

#activityWrap
{
min-height:160px;
background: url("layrus/8bit/post_regular_rightcorner.png") no-repeat scroll right bottom ;
margin:10px;
overflow:hidden;
}

#ac_picture img
{

/*font-size:50pt;*/
background-color:pink;
width:40%;
float:right;
margin-bottom:5px;

}
#ac_picture
{
margin:5px;
}
#ac_description
{
float:left;
width:50%;
margin:10px;
font-size:0.8em;
}
#navigationProfile
{
margin-right:20px;
}

#navigationProfile ul
{
	text-align:justify;
	
	font-size:13pt;
	margin:0px;
	margin-right:20px;
	
	padding: 0em;
}
#navigationProfile ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}
#navigationProfile ul:before {
    content: '';
    display: block;
    
}
#navigationProfile a:link {text-decoration:none;}
#navigationProfile a:visited {text-decoration:none;}
#navigationProfile a:hover {text-decoration:underline; background-color:transparent; color: #006900;}
#navigationProfile a:active {text-decoration:underline;}
.selected
{
text-decoration:underline;
}
#navigationProfile ul li
{
	
    display: inline-block;
  
   
    position: relative;
   
}

#mid-content-1
{

min-height:400px;
}
#mid-content-2
{

min-height:400px;
}

#login_form input[type=text],#login_form input[type=password]
{
display:block;
height: 40px;
margin:10px;

}
#login_form input[type=submit]
{
margin:10px;
height:30px;
width:60px;
}
#signup_form input, #edit_userprofile_form input[type=text]
{
height: 40px;
display:block;
margin:10px;
}
#edit_userprofile_form input[type=text],#edit_userprofile_form input[type=file], #edit_userprofile_form textarea 
{
width:90%;
}
#edit_userprofile_form .avatar img
{
width:90%;
max-width:178px;

}
#signup_form input[type=radio]
{
height:auto;
display:inline;
}
#errors
{
display:block;
color:black;
font-weight:bold;
}
#signup_form
{
width:100%;
}
#signup_form input[type=submit]
{
margin:auto;
}
#general_info
{
min-width:178px;
width: 50%;
float:left;
}
#about_info
{
min-width:178px;
width:50%;
float:right;
}
#clear
{
clear:both;
}

