#badge_outside
{
background:pink;
background: url("blank_badge_green.png") no-repeat;

}
#footer
{
font-size:0.8em;
}
#occupation img
{
width:30px;
display:inline;
}
label
{

vertical-align:middle;
margin-left:20px;

}
#ac_title, #ac_activity
{
display:inline;
font-size:1.45em;
}
#ac_activity
{
display:inline;
}
#activityUpperbar
{
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	border-top: 1px solid rgb(204, 204, 204);
	overflow:hidden;
	font-size:0.8em;
}

#activity_time
{
float:left;
margin-left: 5px;
}
#activity_title, #activity_client_id
{
float:right;
margin-right:5px;
}

#activityWrap
{
min-height:160px;
background: url("layrus/8bit/post_regular_rightcorner.png") no-repeat scroll right bottom ;
margin:10px;
overflow:hidden;
}

#ac_picture img
{

/*font-size:50pt;*/
background-color:pink;
width:40%;
float:right;
margin-bottom:5px;

}
#ac_picture
{
margin:5px;
}
#ac_description
{
float:left;
width:50%;
margin:10px;
font-size:0.8em;
}
#navigationProfile
{
margin-right:20px;
}

#navigationProfile ul
{
	text-align:justify;
	
	font-size:13pt;
	margin:0px;
	margin-right:20px;
	
	padding: 0em;
}
#navigationProfile ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}
#navigationProfile ul:before {
    content: '';
    display: block;
    
}
#navigationProfile a:link {text-decoration:none;}
#navigationProfile a:visited {text-decoration:none;}
#navigationProfile a:hover {text-decoration:underline; background-color:transparent; color: #006900;}
#navigationProfile a:active {text-decoration:underline;}
.selected
{
text-decoration:underline;
}
#navigationProfile ul li
{
	
    display: inline-block;
  
   
    position: relative;
   
}
#mid-content-1
{
min-height:400px;
}
#mid-content-2
{
min-height:400px;
}

#login_form input[type=text],#login_form input[type=password]
{
display:block;
height: 40px;
margin:10px;

}
#login_form input[type=submit]
{
margin:10px;
height:30px;
width:60px;
}
#signup_form input
{
height: 40px;
display:block;
margin:10px;
}
#signup_form input[type=radio]
{
height:auto;
display:inline;
}
#errors
{
display:block;
color:black;
font-weight:bold;
}
#signup_form
{
width:100%;
}
#signup_form input[type=submit]
{
margin:auto;
}
#general_info
{
width: 50%;
float:left;
}
#about_info
{
width:50%;
float:right;
}
#clear
{
clear:both;
}

