body, html
{
	background-color: rgb(64,64,64);
	padding: 0;
	margin: 0 0.5ex;
}

#content-container
{
	background-color: white; 
	border: 1px solid black;
	margin: 1em auto;
	min-width: 500px; 
	max-width: 980px;
}

#header
{
	border-bottom: 1px solid black;
}

#title
{
	height: 176px;
	background: url('header.jpg') bottom left no-repeat;
	position: relative;
}

#title h1
{
	position: absolute;
	right: 1ex;
	top: 0;

	font-size: 3em;
}

#title h1 a
{
	margin: 0;
	padding: 0;
}

#title h1 a, #title h1 a:visited
{
	color: white;
	text-decoration: none;
}

#title h1 a:hover
{
	color: rgb(191,107,4);
}

#links, #footer
{
	border-top: 1px solid black;
	background: rgb(191,137,105);
}

#links a, #links a:visited
{
	display: inline-block;
	padding: 0 1em;
	margin: 0;
	border-right: 1px solid black;
	text-decoration: none;
	color: black;
	float: left;
}

#links a:hover
{
	background-color: rgb(191,107,4);
}

#posts, #sidebar
{
	margin: 0;
	padding: 0;
}

#posts
{
	float: left;
	width: 75%;
	border-right: 1px solid black;
}

#sidebar
{
	float: left;
	width: 24%;
	padding-top: 1em;
	padding-bottom: 1em;

	border-left: 1px solid black;
	margin-left: -1px; /* border overlap */
}

#author
{
	margin: 0 auto;
}

#picture
{
	width: 120px;
	height: 150px;
	display: block;
	margin: 0 auto;
}

#name
{
	text-align: center;
	margin: 0;
}

#blog-info
{
	display: block;
	padding: 0 1em;
	text-align: justify;
}

#footer
{
	clear: both;
}

div.post
{
	padding-bottom: 1em;
}

div.post + div.post
{
	border-top: 1px dashed black;
}

#sidebar h2
{
	font-variant: small-caps;
}

#sidebar h3
{
	padding-left: 1em;
}

.post
{
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.post
{
	text-align: justify;
}

.comment 
{
	padding-left: 1em;
	margin-left: 1em;
	border-left: 1px dashed black;
}


#footer
{
	font-size: small;
}

#footer .left
{
	float: left;
	clear: left;
}

#footer .right
{
	float: right;
	clear: right;
}

.clear
{
	clear: both;
}

@media all and (max-width: 1000px)
{
	#posts
	{
		width: 100%;
		border-right: none;
		border-bottom: 1px solid black;
	}
	#sidebar
	{
		float: none;
		clear: both;
		border: none;
		margin-left: 0;
		width: auto;
	}
	#sidebar ul li
	{
		display: inline-block;
	}
}