body {
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 90%;
  background: #DDD url("squares-72-blur.png") center;
}

a, a:link, a:active { color: #006900; }
a:visited { color: #555; }


.wrap {
  margin: 0 auto;
  max-width: 55em;
  background: white center;
  padding: 0 0.9em;
}

.wrap-t {
  margin: 1em auto 0 auto;
  max-width: 56.8em;
  display: block;
  height: 13px;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 55em;
  background: white center;
  padding: 0 0.9em;
}
.wrap-t {
  margin: 1em auto 0 auto;
  max-width: 56.8em;
  display: block;
  height: 13px;
  padding: 0;
}
.wrap-t.lt {display: block; height: 13px; background: url("0lt.png") no-repeat left top}
.wrap-t .rt {display: block; height: 13px; background: url("0rt.png") no-repeat right top;
             padding: 0 13px;}
.wrap-t .i {display: block; height: 13px; background: white}

.wrap-b {
  margin: 0 auto 1em auto;
  max-width: 56.8em;
  display: block;
  height: 13px;
  padding: 0;
}

.wrap-b.lb {display: block; height: 13px; background: url("0lb.png") no-repeat left top}
.wrap-b .rb {display: block; height: 13px; background: url("0rb.png") no-repeat right top;
             padding: 0 13px;}
.wrap-b .i {display: block; height: 13px; background: white}

.wheader {
  background: white;
}
#header {
  height: 85px;
  position: relative;
  padding: 2px;
}

#header h1, #header h2 {display: none}
#header a:visited, #header a:active, #header a:link {color: #006900}
#menu a:visited, #menu a:active, #menu a:link, .heading a:visited {color: #006900}
#header a:hover, #menu a:hover {color: #555}
#header ul {list-style-type: none}

.heading {
  position: relative;
  margin-top:0.9ex;
  margin-bottom:0ex;
  background: #fff url("strom1.jpg") center repeat-x;
  border:1px solid #fff;
}

.heading .text {
  font-size: 180%;
  margin:1.5em 1em;
  font-weight: bold;
}

.heading p {
  position: absolute;
  font-size: 90%;
  /*background: url("p-o65.png");*/
}

.heading .text span {
  /*background: url("p-o65.png");*/
}

.heading a,.heading a:visited, .heading a:active, .heading a:link, .heading a:visited
{
  color:black;
}


.wmenu {padding: 0 1px 1px 1px}
.wmenu2 {
  background: url("menu1lb-6.png") no-repeat left bottom;
}
.wmenu3 {
  background: url("menu1rb-6.png") no-repeat right bottom;
}
.wmenu4 {
  padding: 3px 7px 7px 7px;
}
.wmenuLeft{text-align:left;display:inline;float:left;}
.wmenuRight{text-align:right;}

#menu {
  background: #eee;
  border-top: #ccc 1px solid;
  font-size:85%;
}

/*#menu a:before { content: " | ";}
#menu a:first-child:before { content: "";}*/
#menu a {text-decoration: none}

#header .loginArea {
  position: absolute;
  top: 5px; right: 5px;
  margin: 0; padding: 0 3px;
  text-align: inherit;
}

#header .loginArea * {
  margin: 0; padding: 0;
}

.loginArea label {
  color: #000;
}

.loginArea .input_small {
  width: 10em;
}

.loginArea input {
  padding: 1px;
}

#main {
  margin: 1.5ex 1px 0 1px;
  position: relative;
  padding: 0;
  background: white;
}

#left {
  position: relative;
  float: left;
  padding: 0;
  width: 73.5%;
}
* html #left {
	width: 72%;
}
#left .cpad {
  min-height: 500px;
  padding-right: 1.5ex;
}

#right {
  position: relative;
  float: left;
  padding: 0;
  width: 26.5%;
}
* html #right {
	width: 27%;
}
#right .cpad {
  border-left: solid #006900 2px;
  min-height: 500px;
  padding-left: 1ex;
}
* html #right .aboutnode {
	width: 99%;
	height: 100px;
	overflow: auto;
}

#right a {
  text-decoration: none;
}
#right h3{
 margin-top:1em; 
 margin-bottom:0em;
}

.post {
  border-bottom: solid #006900 1px;
  padding: 1ex 0;
}
.post.last {
  border-bottom: 0px;
}
.post:first-child {
  padding: 0 0 1ex 0;
}

.post h1 {
  margin: 2ex 0 1ex 0;
  font-size: 180%;
}
h1.posting {
  margin: 5px;
  margin-bottom: 1ex;
  font-size: 150%;
}

h1.posting .dokuWiki, .noFormat .dokuWiki{
	display: inline;
}

.bordering {
  font-style: italic;
  margin: 5px;
  padding: 5px;
}
.boldering {
  font-weight: bold;
}

.paging {
  margin-top: 3ex;
  margin-bottom: 3ex;
  padding: 3px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
.paging a {
  margin-right: 1em;
}
a.raquo:after {
	content: ' »»';
}
a.laquo:before {
	content: '«« ';
}

.post h2 {
  margin: 1ex 0 1ex 0;
  font-size: 136%;
}

.post h3 {
  margin: 1ex 0 1.5ex 0;
  font-size: 100%;
}

.post .subtitle {
  margin: 1ex 0 1.5ex 0;
  font-size: 100%;
  color: #555;
  font-weight: normal;
}

h3:first-child {margin-top: 0}

.post .date {
  background: #EEE;
  border-top: solid #CCC 1px;
  padding: 0.3ex 0.5ex;
  font-size: 90%;
  margin: 0;
}

.post .status {
  margin: 1em 0 0 0;
  padding: 0.3ex 0.5ex;
  background: #EEE;
  font-size: 90%;
  border-bottom: solid #CCC 1px;
}

.read-more { display: block; margin: 1em 0 0 0}

hr { display: none }

.avatar {
  margin: 0 auto;
  width: 13em;
  padding: 0.5em 0 0.5ex 0;
}

.avatar img {width:12.9em;}
.avatar p {margin: 0; padding: 0}

.f1a {
  width: 13.7em;
  margin: 0 0 1ex 0;
}

#footer {
  margin: 0;
  padding: 1ex 1ex 0.5ex 1ex;
}

#footer p {
  text-align: right;
  margin: 0;
  padding: 0;
}

#footer-menu {
  float: left;
}

#footer img.blockImg {
  display: block;
}

/* 2px frame
#footer .l {height: 103px; background: url("2ltbr.png") repeat-y left}
#footer .t {height: 103px; background: url("2ltbr.png") repeat-x top}
#footer .b {height: 103px; background: url("2ltbr.png") repeat-x bottom}
#footer .r {height: 103px; background: url("2ltbr.png") repeat-y right}
#footer .lt {height: 103px; background: url("2lt.png") no-repeat left top}
#footer .rt {height: 103px; background: url("2rt.png") no-repeat right top}
#footer .lb {height: 103px; background: url("2lb.png") no-repeat left bottom}
#footer .rb {height: 103px; background: url("2rb.png") no-repeat right bottom}
*/

.f1 .l {background: url("1ltbr.png") repeat-y left}
.f1 .t {background: url("1ltbr.png") repeat-x top}
.f1 .b {background: url("1ltbr.png") repeat-x bottom}
.f1 .r {background: url("1ltbr.png") repeat-y right}
.f1 .lt {background: url("1lt-6.png") no-repeat left top}
.f1 .rt {background: url("1rt-6.png") no-repeat right top}
.f1 .lb {background: url("1lb-6.png") no-repeat left bottom}
.f1 .rb {background: url("1rb-6.png") no-repeat right bottom}

.f-o { background: white }


/* **** IE6 *************************************************************** */

* html body { text-align: center}
* html .wrap { width: 55em; text-align: left;}
* html .wrap-t { width: 55em;}
* html .wrap-b { width: 55em; }
* html .wrap-t * {font-size: 1px;}
* html .wrap-b * {font-size: 1px;}
* html #left .cpad, * html #right .cpad {height: 500px;}
* html .wrap-t.lt {background: url("gif/0lt.gif") left top no-repeat}
* html .wrap-t .rt {background: url("gif/0rt.gif") right top no-repeat}
* html .wrap-b.lb {background: url("gif/0lb.gif") left bottom no-repeat}
* html .wrap-b .rb {background: url("gif/0rb.gif") right bottom no-repeat}
* html #menu {border-bottom: solid #eee 1px}
* html #menu a {padding-left: 8px}
#menu {*border-bottom: 1px solid #ccc}

.spacer
{
  padding:1em;
  clear: both;
}
h5
{
  padding:0;
  margin:0;
}
ul
{
  list-style-type:disc;
  color:#006900;
  list-style:inside;
}
ul li
{
  color:#000000;
}
.tagCloud a
{

  font-weight:bold;
  
}
.tagCloud a:hover
{
  text-decoration:underline;
  
}
.para
{
  margin-bottom:1em;
}

#beania_logo {margin-bottom: 20px;}