/* CSS Document */
body
{

margin:0;
padding:0;
font-family:Arial;


}
h1,h2,h3,h4,h5
{
margin-top:0;
font-family:arial black, arial;
text-align: center;    

}
#clearing_div
{
    clear:both;  
}
a
{
color:green;
}
#topBar
{
padding-top:30px;
display:block;
height: 114px;
width: 1073px;
margin:auto;
}
#divider
{
    width=100%;
    background-color: lightgrey;
    height:15px;
    display:block;
    
    
}
#info h1
{
text-align:left;
font-size: 12pt;
}
#logoWrap
{
    display:block;
    width:280px;
    height:114px;
    background-image: url('../images/logo.jpg');
    background-repeat:no-repeat;
    display: block;
    float: left;
    
}
#pictureWrap
{   width:773px;
    height:114px;
    display:block;
    float:left;
    background-image: url('../images/pozadie.jpg');
    background-repeat:no-repeat;
    position:relative;
    
}
#pictureWrap h1
{
font-size: 50px;
position:absolute;
bottom:-40px;
left:0px;
text-align:left;
color: white;
text-shadow: 0 1px 0 grey;
}

#contents
{
display:block;
height: 200px;
max-width: 70em;
min-width:30em;
margin:auto;
}
#menu
{
    
    
    display:block;
    width:280px;
    text-align: right;
    height:200px;
    float: left;
    padding-right:10px;
   
    
}
/*
tu konci hlavicka a menu
*/
#info
{   
   
    max-width:50em;
    min-width:  25em;
 
    display:block;
    float:left;
   
    
}
#written
{
    float:left;
}
#read

{
width:300 px;
float:left;
margin-left: 10px;
}

 #article1
{
font-size:9pt;
background-color:lightgrey;
width:150px;
float:left;
margin:0px;
padding:0px;
height: 300px;
}
#article1 h1
{

color:  green;
font-size:14pt;

}
#avatar 
{
   
    
    min-width:5em;
    max-width:15em;
    float:left;
    border:2px gray solid;
}

#avatar img
{
width:100%;
}
#otherArticles
{
float:left;
width:150px;
margin: 0px;
padding:0px;
}
#blog_info
{
float:right;
}
#article2 ,#article3
{
background-color:lightgreen;
font-size: 7pt;
width:150px;
height:150px;

}
#article2  h1
{
  font-size:10pt;

}
#article3  h1
{
   font-size:10pt;
}
#generalWrapper
{
    
}
#general_info
{
    min-width: 20em;
    max-width:34em;
    height:100%;
    float:left;
    
  
}
#about 
{
    width:100%;
    height:8em;
    border:2px grey solid;
   
    background-color: green;
}
#middleWrapper
{
    
    width:100%;
}
#study_programme
{
    width:49%;
    height:7em;
    border:2px grey solid;
  
    float:left;
    text-align:center;
    background-color: lightgrey;
}
#dalsie_info
{
    width:49%;
    height:7em;
    border:2px grey solid;
    
    margin-right:-4px;
    float:right;
    background-color: lightgrey;
}

#contact
{
    text-align:center;
    width:100%;
    height:4em;
    border:2px grey solid;
    background-color: green;
  
}


#contact_form, #login_form 
{
width:300px;
background:#f0f0f0; 
/*url(../img/login_bg.jpg) repeat-x; */
border: 1px solid white;
margin 250px auto 0;
padding:1em;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;


}

input[type=text],input[type=password]
{
display:block;
margin 0 0 1em 0;
width 280px;
border: 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
padding: 1em;
}
input[type=submit], form a
{
border:none;
margin-right:1em;
padding: 6px;
text-decoration:none;
font-size:12px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
 background: #348075;
 color:white;
 box-shadow: 0 1px 0 white;
-moz-box-shadow: 0 1px white;
webkit-box-shadow: 0 1px white; 
}
input[type=submit]:hover, form a:hover
{
background: #287368;
cursor: pointer;
}
.error
{
color: #393939;
font-size:15 px;
}
fieldset
{
width: 300px;
margin: auto;
margin-bottom: 2em;
display:block;

}
h1
{
text-shadow: 0 1px 0 white;
}
#tutInfo
{
background: #e3e3e3;
border-top: 1px solid white;
position: absolute;
bottom: 0;
width: 100%;
padding: 7em 7em 7em 2em; 
}
